@model Evercraft.Web.Characters.ViewModels.CreateCharacterViewModel

@{
    ViewBag.Title = "Create Character";
    Layout = "_Layout";
}

@using(Html.BeginForm("Create", "Characters", FormMethod.Post))
{
    @Html.TextBoxFor(vm => vm.Name, new {@data_testid = "character-name-input"})
    <button data-testid="create-character-button" type="submit">Create Character</button>
}
